<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="offer_request-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= if @title == "New Offer request" do %>
      <%= label f, :origin %>
      <%= select f, :origin, @airports %>
      <%= error_tag f, :origin %>
    
      <%= label f, :destination %>
      <%= select f, :destination, @airports %>
      <%= error_tag f, :destination %>
    
      <%= label f, :departure_date %>
      <%= date_select f, :departure_date %>
      <%= error_tag f, :departure_date %>
    <% else %>
      <%= label f, :sort_by %>
      <%= select f, :sort_by, [:total_amount, :total_duration] %>
      <%= error_tag f, :sort_by %>
    
      <%= label f, :allowed_airlines %>
      <%= multiple_select f, :allowed_airlines, @airlines %>
      <%= error_tag f, :allowed_airlines %>
    <% end %>

    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
